.cards-row-1 {
    display: flex;
    }

.card-type1 {
    margin: 3em;
    border: 1px black solid;
    border-radius: 12px;
    .image {
        margin-bottom: 20px;
    }
    .title {
        text-align: center;
        font-size: 24px;
        font-family: var(--vp-font-family-base);
        color: var(--vp-c-text-1);
        line-height: 24px;
        font-weight: 600;
        color: rgba(60, 60, 67);
    }
    .text, .experience {
        text-align: center;
        font-size: 16px;
        flex-grow: 1;
        color: rgba(60, 60, 67);
        padding-top: 8px;
        line-height: 24px;
        font-weight: 500;
    }
    .text {
        padding: 8px;
    }
}